body {
    min-height: 3000px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

#about h2 {
    color: #333; /* Mengubah warna menjadi abu-abu gelap */
  }

.jumbotron {
    padding-top: 6rem;
    background-color: #f5f5dc;
    text-align: center;
    padding-bottom: 3rem;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

#gallery {
    background-color: #009;
    padding-bottom: 3rem;
}

.btn {
    background-color: #f0e68c;
    width: 150px;
    color: #333;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: rgb(202, 193, 108);
    border-color: rgb(202, 193, 108);
    transform: scale(1.05);
}

footer {
    background-color: #f0e68c;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
}

footer a.text-dark {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}

footer a.text-dark:hover {
    color: rgb(202, 193, 108);
}

section {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: white;
}

section p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}
